@import url("../base.css");

.form:hover {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 255, 0.25);
}

.form-controller {
    padding: 5px;
    background-size: cover;
    border-radius: 15px;
    background: rgba(255,255,255,.7);
    border-color: rgba(255,255,255,.7);
}

.text-username {
    color: deeppink;
    text-underline: deeppink;
    text-decoration: underline;
    font-size:18px;
    font-style: italic;
}

.text-lfp {
    color: orchid;
}
