{% extends 'ta_web/base.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block style %}
    <link href="{% static 'ta_web/css/ta_web_auth_stuff/login.css' %}" rel="stylesheet">
{% endblock %}

{% block background %}
    <img src="{% static 'ta_web/images/background.jpg' %}" alt="">
{% endblock %}

{% block content %}
    <form class="form" method="POST">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'ta_web/images/favicon.ico' %}" alt="" width="48" height="48">
        <h1 class="h3 mb-3 fw-normal text-black">Авторизация</h1>

        <div class="row-form-errors">
            {{ form.non_field_errors }}
        </div>

        {% for field in form %}
            <div class="form-floating">
                {{ field }}
                <label for="{{ field.id_for_label }}" class="floating-input">{{ field.label }}</label>
                <div class="row-form-errors"> {{ field.errors }}</div>
            </div>
        {% endfor %}

        <button class="w-100 btn" type="submit">Войти</button>

        {% for message in messages %}
            <div class="form-floating">
                {{ message }}
            </div>
        {% endfor %}
    </form>
{% endblock %}
