@import url("../base.css");

.form-control:focus {
    border: rgba(40, 167, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.form select {
    background: none;
    color: black;
    border-color: black;
    margin-bottom: 5px;
}

.form input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;;
}

.form input[type="number"]::-webkit-outer-spin-button,
.form input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.form-control {
    border-color: black;
    background: none;
}

textarea {
    resize: vertical;
    width: auto;
    margin-bottom: 5px;
    border-color: black;
    background: none;
}
